/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  height: 100px;
  width: 100px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
